This is my first Twig temepalate
<div class= "weather-widget-wrapper">
</div class="temp-info">
<span class="min-temp-label">Min temp</span>span>
<span class="max-temp-label">Max temp</span>span>
<span class="value">{{  weather_data.main.temp-min}}</span>
</div>
<div class="wind-speed">
<span class="wind-speed-label">Wind speed</span>span>
<span class="value">{{  weather_data.main.pressure}}</span>
<span class="wind-pressure-label">Wind pressure</span>span>
</div>

</div>